# macOS
.DS_Store

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# Build files
dist/
build/

# PHP
*.log

# Temporary files
*.tmp

# MAMP
*.sql~